html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #383838;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    color: whitesmoke;
    font-size: 3rem;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#cloakContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30rem;
}
img {
    width: 20%;
}

.aiguilles {
    position: absolute;
}

#secondes {
    bottom: 50%;
    width: 15%;
    left: 50%;
    background: darkorange;
    height: 0.2rem;
    transform-origin: left;
}

#minutes {
    bottom: 50%;
    width: 10%;
    left: 50%;
    background: #aa2a2a;
    height: 0.3rem;
    transform-origin: left;
}

#heures {
    bottom: 50%;
    width: 8%;
    left: 50%;
    background: #871919;
    height: 0.4rem;
    transform-origin: left;
}

@media screen and (max-width: 1070px) {
    #cloakContainer {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #cloakContainer {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    img {
        width: 40%;
    }
}

